@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
  --bg: oldlace;
  --text: #5b3e29;
  --primaryHeading: saddleBrown;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 4.4rem;
  text-transform: uppercase;
  color: var(--primaryHeading);
  letter-spacing: 0.5rem;
  font-weight: 700;

  @media only screen and (max-width: 40em) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 3.4rem;
  font-weight: 400;
  font-style: italic;
}

p {
  margin-top: 20px;
  font-weight: 300;
}

ul {
  margin-top: 2.5rem;
}

.link {
  display: inline-block;
  text-decoration: none;
  margin-top: 2rem;
  color: #ae4900;
  transition: color 0.3s;

  &:hover {
    color: #7a3707;
  }
}
